<!DOCTYPE html>
<html>
@{
    ViewBag.Title = "Review";
}


<form method="post">
     Review This Product: <br />
    Rating (Out Of 5): <input type="range" name="ratingNum" min="1" max="5"> <br />
    <p>Please Enter your review coment here!</p>
    <textarea rows="4" cols="50" name="ratingString">
    </textarea>  <br />
    <br />
    <input type="submit" value="Submit Review"/>
    <p> The Average Rating is: @ViewBag.avgRate</p>
    <p> @ViewBag.completed</p>



</form>


</html>
