<table>
    <tr><label id="NameLabel">Cardholder Name</label><input type="text" id="AmexName" class="form-control"></input><span id="AmexNameError"></span></tr></br>
    <tr><label id="CardNumLabel">Amex Card Number</label><input type="text" id="AmexCardNum" class="form-control"></input><span id="AmexCardNumError"></span></tr></br>
    <tr><label id="ExpDateLabel">Expiry Date</label><input type="date" id="AmexExpDate" class="form-control"></input><span id="AmexExpDateError"></span></tr></br>
    <tr><label id="CVCLabel">CVC Code</label><input type="text" id="AmexCVC" class="form-control"></input><span id="AmexCVCError"></span></tr></br>
</table>

