<table>
    <tr><label id="NameLabel">Cardholder Name</label><input type="text" id="MastercardName" class="form-control"></input><span id="MastercardNameError"></span></tr></br>
    <tr><label id="CardNumLabel">Mastercard Number</label><input type="text" id="MastercardCardNum" class="form-control"></input><span id="MastercardCardNumError"></span></tr></br>
    <tr><label id="ExpDateLabel">Expiry Date</label><input type="date" id="MastercardExpDate" class="form-control"></input><span id="MastercardExpDateError"></span></tr></br>
    <tr><label id="CVCLabel">CVC Code</label><input type="text" id="MastercardCVC" class="form-control"></input><span id="MastercardCVCError"></span></tr></br>
</table>

