@model Mikes_Bikes.Models.Bike


    <h4>@Html.DisplayFor(model => model.BikeName)</h4>
    <hr />

  

    <a href="CustomerBikeList/Details/@Html.DisplayFor(model=> model.BikeID)">
        <img src=@Html.DisplayFor(model=>model.BikeImage) alt="Sample Photo" height="100" width="133" />
    </a>

