<table>
    <tr><label id="emailLabel">Email</label><input type="text" id="PaypalEmail" class="form-control"></input><span id="PaypalEmailError"></span></tr></br>
    <tr><label id="passwordLabel">Password</label><input type="password" id="PaypalPassword" class="form-control"></input><span id="PaypalPasswordError"></span></tr></br>
</table>

