<table>
    <tr><label id="NameLabel">Cardholder Name</label><input type="text" id="VisaName" class="form-control"></input><span id="VisaNameError"></span></tr></br>
    <tr><label id="CardNumLabel">Visa Card Number</label><input type="text" id="VisaCardNum" class="form-control"></input><span id="VisaCardNumError"></span></tr></br>
    <tr><label id="ExpDateLabel">Expiry Date</label><input type="date" id="VisaExpDate" class="form-control"></input><span id="VisaExpDateError"></span></tr></br>
    <tr><label id="CVCLabel">CVC Code</label><input type="text" id="VisaCVC" class="form-control"></input><span id="VisaCVCError"></span></tr></br>
</table>
