
@{
    ViewBag.Title = "Payment";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>

    var countriesAndStatesJSON = '[ {"short":"AL","name":"Alabama","country":"US"},' +
        '{"short":"AK","name":"Alaska","country":"US"},' +
        '{"short":"AZ","name":"Arizona","country":"US"},' +
        '{"short":"AR","name":"Arkansas","country":"US"},' +
        '{"short":"CA","name":"California","country":"US"},' +
        '{"short":"CO","name":"Colorado","country":"US"},' +
        '{"short":"CT","name":"Connecticut","country":"US"},' +
        '{"short":"DC","name":"District of Columbia","country":"US"},' +
        '{"short":"DE","name":"Delaware","country":"US"},' +
        '{"short":"FL","name":"Florida","country":"US"},' +
        '{"short":"GA","name":"Georgia","country":"US"},' +
        '{"short":"HI","name":"Hawaii","country":"US"},' +
        '{"short":"ID","name":"Idaho","country":"US"},' +
        '{"short":"IL","name":"Illinois","country":"US"},' +
        '{"short":"IN","name":"Indiana","country":"US"},' +
        '{"short":"IA","name":"Iowa","country":"US"},' +
        '{"short":"KS","name":"Kansas","country":"US"},' +
        '{"short":"KY","name":"Kentucky","country":"US"},' +
        '{"short":"LA","name":"Louisiana","country":"US"},' +
        '{"short":"ME","name":"Maine","country":"US"},' +
        '{"short":"MD","name":"Maryland","country":"US"},' +
        '{"short":"MA","name":"Massachusetts","country":"US"},' +
        '{"short":"MI","name":"Michigan","country":"US"},' +
        '{"short":"MN","name":"Minnesota","country":"US"},' +
        '{"short":"MS","name":"Mississippi","country":"US"},' +
        '{"short":"MO","name":"Missouri","country":"US"},' +
        '{"short":"MT","name":"Montana","country":"US"},' +
        '{"short":"NE","name":"Nebraska","country":"US"},' +
        '{"short":"NV","name":"Nevada","country":"US"},' +
        '{"short":"NH","name":"New Hampshire","country":"US"},' +
        '{"short":"NJ","name":"New Jersey","country":"US"},' +
        '{"short":"NM","name":"New Mexico","country":"US"},' +
        '{"short":"NY","name":"New York","country":"US"},' +
        '{"short":"NC","name":"North Carolina","country":"US"},' +
        '{"short":"ND","name":"North Dakota","country":"US"},' +
        '{"short":"OH","name":"Ohio","country":"US"},' +
        '{"short":"OK","name":"Oklahoma","country":"US"},' +
        '{"short":"OR","name":"Oregon","country":"US"},' +
        '{"short":"PA","name":"Pennsylvania","country":"US"},' +
        '{"short":"RI","name":"Rhode Island","country":"US"},' +
        '{"short":"SC","name":"South Carolina","country":"US"},' +
        '{"short":"SD","name":"South Dakota","country":"US"},' +
        '{"short":"TN","name":"Tennessee","country":"US"},' +
        '{"short":"TX","name":"Texas","country":"US"},' +
        '{"short":"UT","name":"Utah","country":"US"},' +
        '{"short":"VT","name":"Vermont","country":"US"},' +
        '{"short":"VA","name":"Virginia","country":"US"},' +
        '{"short":"WA","name":"Washington","country":"US"},' +
        '{"short":"WV","name":"West Virginia","country":"US"},' +
        '{"short":"WI","name":"Wisconsin","country":"US"},' +
        '{"short":"WY","name":"Wyoming","country":"US"},' +
        '{"short":"AS","name":"American Samoa","country":"US"},' +
        '{"short":"GU","name":"Guam","country":"US"},' +
        '{"short":"MP","name":"Northern Mariana Islands","country":"US"},' +
        '{"short":"PR","name":"Puerto Rico","country":"US"},' +
        '{"short":"UM","name":"United States Minor Outlying Islands","country":"US"},' +
        '{"short":"VI","name":"Virgin Islands","country":"US"},' +
        '{"short":"AB","name":"Alberta","country":"CA"},' +
        '{"short":"BC","name":"British Columbia","country":"CA"},' +
        '{"short":"MB","name":"Manitoba","country":"CA"},' +
        '{"short":"NB","name":"New Brunswick","country":"CA"},' +
        '{"short":"NL","name":"Newfoundland and Labrador","country":"CA"},' +
        '{"short":"NS","name":"Nova Scotia","country":"CA"},' +
        '{"short":"NU","name":"Nunavut","country":"CA"},' +
        '{"short":"NW","name":"Northwest Territories","country":"CA"},' +
        '{"short":"ON","name":"Ontario","country":"CA"},' +
        '{"short":"PE","name":"Prince Edward Island","country":"CA"},' +
        '{"short":"QC","name":"Quebec","country":"CA"},' +
        '{"short":"SK","name":"Saskatchewan","country":"CA"},' +
        '{"short":"YU","name":"Yukon","country":"CA"}]';

    var theCountriesAndStates;

    var paymentMethod = "none";

    $(document).ready(pageIsLoaded);

    $(document).on('change', '#paymentCountry', function () {
        checkCountry();
    });

    function pageIsLoaded() {
        theCountriesAndStates = JSON.parse(countriesAndStatesJSON);
        checkCountry();
        // Enable clicking for all payment methods
        $("#PaypalBtn").click(showPaypal);
        $("#VisaBtn").click(showVisa);
        $("#MastercardBtn").click(showMastercard);
        $("#AmexBtn").click(showAmex);

        // Blur General Form
        $("#paymentFName").blur(blurTextBox);
        $("#paymentLName").blur(blurTextBox);
        $("#paymentAddress1").blur(blurTextBox);
        $("#paymentCity").blur(blurTextBox);
        $("#paymentTel").blur(blurTextBox);
        $("#paymentEmail").blur(blurTextBox);

        // Blur Paypal
        $("#PaypalEmail").blur(blurTextBox);
        $("#PaypalPassword").blur(blurTextBox);

        // Blur Visa
        $("#VisaName").blur(blurTextBox);
        $("#VisaCardNum").blur(blurTextBox);
        $("#VisaExpDate").blur(blurTextBox);
        $("#VisaCVC").blur(blurTextBox);

        // Blur Mastercard
        $("#MastercardName").blur(blurTextBox);
        $("#MastercardCardNum").blur(blurTextBox);
        $("#MastercardExpDate").blur(blurTextBox);
        $("#MastercardCVC").blur(blurTextBox);

        // Blur AMEX
        $("#AmexName").blur(blurTextBox);
        $("#AmexCardNum").blur(blurTextBox);
        $("#AmexExpDate").blur(blurTextBox);
        $("#AmexCVC").blur(blurTextBox);
    }

    function checkCountry() {
        var theCountry = document.getElementById("paymentCountry");
        var theStates = document.getElementById("paymentState");
        var theStateLabel = document.getElementById("StateLabel");

        theStates.innerHTML = "";

        if (theCountry.value == "US") {
            theStateLabel.innerHTML = "State";
        }
        else {
            theStateLabel.innerHTML = "Province";
        }

        for (var index = 0; index < theCountriesAndStates.length; index++) {
            if (theCountriesAndStates[index]["country"] == theCountry.value) {
                theStates.innerHTML += '<option>' + theCountriesAndStates[index]["name"] + '</option>';
            }
        }
    }

    function showPaypal() {
        // Disable Visa if already visible
        if ($("#paymentVisa").is(':visible'))
            $('#paymentVisa').hide();
        // Disable Mastercard if already visible
        if ($("#paymentMastercard").is(':visible'))
            $('#paymentMastercard').hide();
        // Disable Amex if already visible
        if ($("#paymentAmex").is(':visible'))
            $('#paymentAmex').hide();

        $('#paymentPaypal').slideToggle();
        paymentMethod = "paypal";
    }

    function showVisa() {
        // Disable Paypal if already visible
        if ($("#paymentPaypal").is(':visible'))
            $('#paymentPaypal').hide();
        // Disable Mastercard if already visible
        if ($("#paymentMastercard").is(':visible'))
            $('#paymentMastercard').hide();
        // Disable Amex if already visible
        if ($("#paymentAmex").is(':visible'))
            $('#paymentAmex').hide();

        $('#paymentVisa').slideToggle();
        paymentMethod = "visa";
    }

    function showMastercard() {
        // Disable Paypal if already visible
        if ($("#paymentPaypal").is(':visible'))
            $('#paymentPaypal').hide();
        // Disable Visa if already visible
        if ($("#paymentVisa").is(':visible'))
            $('#paymentVisa').hide();
        // Disable Amex if already visible
        if ($("#paymentAmex").is(':visible'))
            $('#paymentAmex').hide();

        $('#paymentMastercard').slideToggle();
        paymentMethod = "mastercard";
    }

    function showAmex() {
        // Disable Paypal if already visible
        if ($("#paymentPaypal").is(':visible'))
            $('#paymentPaypal').hide();
        // Disable Mastercard if already visible
        if ($("#paymentMastercard").is(':visible'))
            $('#paymentMastercard').hide();
        // Disable Visa if already visible
        if ($("#paymentVisa").is(':visible'))
            $('#paymentVisa').hide();

        $('#paymentAmex').slideToggle();
        paymentMethod = "amex";
    }

    function blurTextBox() {

        var theId = this.id;
        var theErrorSpan = document.getElementById(theId + "Error");

        if (this.value == "") {
            theErrorSpan.innerHTML = "Do Not Leave Blank!";
            theErrorSpan.style.color = "red";
        }
        else {
            theErrorSpan.innerHTML = "";
        }
    }

    function validateForm() {

        // Keeps track of amount of errors
        var errors = 0;

        // Regex patterns
        var paypalPattern = new RegExp("[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$");
        var visaPattern = new RegExp("^4[0-9]{12}(?:[0-9]{3})?$");
        var mastercardPattern = new RegExp("^(?:5[1-5][0-9]{2}|222[1-9]|22[3-9][0-9]|2[3-6][0-9]{2}|27[01][0-9]|2720)[0-9]{12}$");
        var amexPattern = new RegExp("^3[47][0-9]{13}$ ");
        var CVCPattern = new RegExp("^[0-9]{3,4}$");

        // Values for general form
        var Fname = $('#paymentFName').val();
        var LName = $('#paymentLName').val();
        var Adr1 = $('#paymentAddress1').val();
        var City = $('#paymentCity').val();
        var Tel = $('#paymentTel').val();
        var Email = $('#paymentEmail').val();

        // Error Spans for general form
        var FNameErrorSpan = document.getElementById("paymentFNameError");
        var LNameErrorSpan = document.getElementById("paymentLNameError");
        var Adr1ErrorSpan = document.getElementById("paymentAddress1Error");
        var CityErrorSpan = document.getElementById("paymentCityError");
        var TelErrorSpan = document.getElementById("paymentTelError");
        var EmailErrorSpan = document.getElementById("paymentEmailError");

        // Check FName
        if (Fname == "") {
            FNameErrorSpan.innerHTML = "Cannot leave first name blank.";
            FNameErrorSpan.style.color = "red";
            errors++;
        }

        // Check LName
        if (LName == "") {
            LNameErrorSpan.innerHTML = "Cannot leave last name blank.";
            LNameErrorSpan.style.color = "red";
            errors++;
        }

        // Check Adr1
        if (Adr1 == "") {
            Adr1ErrorSpan.innerHTML = "Cannot leave address blank.";
            Adr1ErrorSpan.style.color = "red";
            errors++;
        }

        // Check City
        if (City == "") {
            CityErrorSpan.innerHTML = "Cannot leave city blank.";
            CityErrorSpan.style.color = "red";
            errors++;
        }

        // Check Tel
        if (Tel == "") {
            TelErrorSpan.innerHTML = "Cannot leave telephone blank.";
            TelErrorSpan.style.color = "red";
            errors++;
        }

        // Check Email
        if (Email == "") {
            EmailErrorSpan.innerHTML = "Cannot leave email blank.";
            EmailErrorSpan.style.color = "red";
            errors++;
        }

        // All payment validation
        switch (paymentMethod) {
            case 'paypal':
                // Textbox Values
                var paypalEmail = $('#PaypalEmail').val();
                var paypalPass = $('#PaypalPassword').val();

                // Error spans
                var PaypalEmailErrorSpan = document.getElementById("PaypalEmailError");
                var PaypalPasswordErrorSpan = document.getElementById("PaypalPasswordError");

                // Check Paypal Email
                if (!paypalPattern.test(paypalEmail)) {
                    PaypalEmailErrorSpan.innerHTML = "Invalid Paypal Email";
                    PaypalEmailErrorSpan.style.color = "red";
                    errors++;
                }
                // Check Password
                if (paypalPass == "") {
                    PaypalPasswordErrorSpan.innerHTML = "Cannot leave password blank.";
                    PaypalPasswordErrorSpan.style.color = "red";
                    errors++;
                }
                break;
            case 'visa':
                // Textbox Values
                var visaName = $('#VisaName').val();
                var visaCardNum = $('#VisaCardNum').val();
                var visaExpDate = $('VisaExpDate').val();
                var visaCardCVC = $('#VisaCVC').val();

                // Error spans
                var VisaNameErrorSpan = document.getElementById("VisaNameError");
                var VisaNumErrorSpan = document.getElementById("VisaCardNumError");
                var VisaExpDateErrorSpan = document.getElementById("VisaExpDateError");
                var VisaCVCErrorSpan = document.getElementById("VisaCVCError");

                // Check Visa Name
                if (visaName == "") {
                    VisaNameErrorSpan.innerHTML = "Cannot leave name blank.";
                    VisaNameErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Visa Num
                if (!visaPattern.test(visaCardNum)) {
                    VisaNumErrorSpan.innerHTML = "Invalid Visa Number";
                    VisaNumErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Visa Exp Date
                if (visaExpDate == "") {
                    VisaExpDateErrorSpan.innerHTML = "Cannot leave expiry date blank.";
                    VisaExpDateErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Visa CVC
                if (!CVCPattern.test(visaCardCVC)) {
                    VisaCVCErrorSpan.innerHTML = "Invalid CVC Number";
                    VisaCVCErrorSpan.style.color = "red";
                    errors++;
                }
                break;
            case 'mastercard':
                // Textbox Values
                var mastercardName = $('#MastercardName').val();
                var mastercardCardNum = $('#MastercardCardNum').val();
                var mastercardExpDate = $('MastercardExpDate').val();
                var mastercardCardCVC = $('#MastercardCVC').val();

                // Error spans
                var MastercardNameErrorSpan = document.getElementById("MastercardNameError");
                var MastercardNumErrorSpan = document.getElementById("MastercardCardNumError");
                var MastercardExpDateErrorSpan = document.getElementById("MastercardExpDateError");
                var MastecardCVCErrorSpan = document.getElementById("MastercardCVCError");

                // Check Mastercard Name
                if (mastercardName == "") {
                    MastercardNameErrorSpan.innerHTML = "Cannot leave name blank.";
                    MastercardNameErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Mastercard Num
                if (!mastercardPattern.test(mastercardCardNum)) {
                    MastercardNumErrorSpan.innerHTML = "Invalid Mastercard Number";
                    MastercardNumErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Mastercard Exp Date
                if (mastercardExpDate == "") {
                    MastercardExpDateErrorSpan.innerHTML = "Cannot leave expiry date blank.";
                    MastercardExpDateErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Mastercard CVC
                if (!CVCPattern.test(mastercardCardCVC)) {
                    MastecardCVCErrorSpan.innerHTML = "Invalid CVC Number";
                    MastecardCVCErrorSpan.style.color = "red";
                    errors++;
                }
                break;
            case 'amex':
                // Textbox Values
                var amexName = $('#AmexName').val();
                var amexCardNum = $('#AmexCardNum').val();
                var amexExpDate = $('AmexExpDate').val();
                var amexCardCVC = $('#AmexCVC').val();

                
                // Error spans
                var AmexNameErrorSpan = document.getElementById("AmexNameError");
                var AmexNumErrorSpan = document.getElementById("AmexCardNumError");
                var AmexExpDateErrorSpan = document.getElementById("AmexExpDateError");
                var AmexCVCErrorSpan = document.getElementById("AmexCVCError");

                // Check Amex Name
                if (amexName == "") {
                    AmexNameErrorSpan.innerHTML = "Cannot leave name blank.";
                    AmexNameErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Amex Num
                if (!amexPattern.test(amexCardNum)) {
                    AmexNumErrorSpan.innerHTML = "Invalid Amex Number";
                    AmexNumErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Amex Exp Date
                if (amexExpDate == "") {
                    AmexExpDateErrorSpan.innerHTML = "Cannot leave expiry date blank.";
                    AmexExpDateErrorSpan.style.color = "red";
                    errors++;
                }

                // Check Amex CVC
                if (!CVCPattern.test(amexCardCVC)) {
                    AmexCVCErrorSpan.innerHTML = "Invalid CVC Number";
                    AmexCVCErrorSpan.style.color = "red";
                    errors++;
                }
                break;
            default:
                alert("Please choose a payment method.");
                break;
        }
        // Redirect if no errors
        if (errors == 0)
            window.location.href = "ProcessGood";
    }

</script>
<h2>Payment</h2>
<table>
    <tr><label id="FNameLabel">First Name</label><input type="text" id="paymentFName" class="form-control"></input><span id="paymentFNameError"></span></tr></br>
    <tr><label id="LNameLabel">Last Name</label><input type="text" id="paymentLName" class="form-control"></input><span id="paymentLNameError"></span></tr></br>
    <tr><label id="Address1Label">Address 1</label><input type="text" id="paymentAddress1" class="form-control"></input><span id="paymentAddress1Error"></span></tr></br>
    <tr><label id="Address2Label">Address 2</label><input type="text" id="paymentAddress2" class="form-control"></input></tr></br>
    <tr><label id="CountryLabel">Country</label><select name="paymentCountry" id="paymentCountry" class="form-control"><option value="CA">Canada</option><option value="US">United States</option></select></tr></br>
    <tr><label id="StateLabel">Province</label><select id="paymentState" class="form-control"></input></tr></br>
    <tr><label id="CityLabel">City</label><input type="text" id="paymentCity" class="form-control"></input><span id="paymentCityError"></span></tr></br>
    <tr><label id="TelLabel">Telephone</label><input type="text" id="paymentTel" class="form-control"></input><span id="paymentTelError"></span></tr></br>
    <tr><label id="EmailLabel">Email</label><input type="text" id="paymentEmail" class="form-control"></input><span id="paymentEmailError"></span></tr></br>
</table>
<h1>Payment Info</h1>
<button id="PaypalBtn"> 
    <img height="100%" src="~/Content/Images/paypal.png" />
</button>
<button id="VisaBtn">
    <img height="100%" src="~/Content/Images/visa.png" />
</button>
<button id="MastercardBtn">
    <img height="100%" src="~/Content/Images/mastercard.png" />
</button>
<button id="AmexBtn">
    <img height="100%" src="~/Content/Images/amex.png" />
</button>
</br>
<div id="paymentPaypal" hidden>
    @Html.Partial("Paypal")
</div>
<div id="paymentVisa" hidden>
    @Html.Partial("Visa")
</div>
<div id="paymentMastercard" hidden>
    @Html.Partial("Mastercard")
</div>
<div id="paymentAmex" hidden>
    @Html.Partial("Amex")
</div>
<input type="submit" id="processBtn" value="Process Payment" name="process" class="btn btn-default" onclick="validateForm()" />


