@{

    ViewBag.Title = "About Us";

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Established in 2017 Mikes Bikes follows the philosophy of Mike "Fake Gino" Conney. Namely by being confused old men. We strive to produce the best possible product at the lowest possible effort</p>