
@{
    ViewBag.Title = "Bike Safety";
    ViewBag.Description = ",Safe Riding Techniques";
}

<h2>Bike Safety</h2>

<p>Bicycle riding is fun, healthy, and a great way to be independent.
But it is important to remember that a bicycle is not a toy; it’s a vehicle!
<b>Be cool</b> – follow some basic safety tips when you ride.

<h1>Safe Riding Tips</h1>
Before using your bicycle, make sure it is ready to ride. You should always
inspect your bike to make sure all parts are secure and working properly.
Remember to:

<h3>Wear a Properly Fitted Bicycle Helmet.</h3> 
Protect your brain, save your life. For more information see the National Highway Traffic Safety Administration publication


<h3>Adjust Your Bicycle to Fit.</h3>
Stand over your bicycle. There should be 1 to 2 inches between you and the top tube (bar) if using a road bike and 3 to 4 inches if a mountain bicycle. The seat should be level front to back. The seat height should be adjusted to allow a slight bend at the knee when the leg is fully extended. The handlebar height should be at the same level with the seat.

<h3>Check Your Equipment.</h3>
Before riding, inflate tires properly and check that your brakes work.

<h3>See and Be Seen.</h3> 
Whether daytime, dawn, dusk, foul weather, or at night, you need to be seen by others. Wearing white has not been shown to make you more visible. Rather, always wear neon, fluorescent, or other bright colors when riding day or night. Also wear something that reflects light, such as reflective tape or markings, or flashing lights. Remember, just because you can see a driver doesn’t mean the driver can see you.

<h3>Control Your Bicycle.</h3>
Always ride with at least one hand on the handlebars. Carry books and other items in a bicycle carrier or backpack.

<h3>Watch for and Avoid Road Hazards.</h3>
Be on the lookout for hazards such as potholes, broken glass, gravel, puddles, leaves, and dogs. All these hazards can cause a crash. If you are riding with friends and you are in the lead, yell out and point to the hazard to alert the riders behind you.

<h3>Avoid Riding at Night.</h3>
It is far more dangerous to ride at night than during the day because you are harder for others to see. If you have to ride at night, wear something that makes you more easily seen by others. Make sure you have reflectors on the front and rear of your bicycle (white lights on the front and red rear reflectors are required by law in many States), in addition to reflectors on your tires, so others can see you.
Many bicycle-related crashes resulting in injury or death are associated with the bicyclist’s behavior, including such things as not wearing a bicycle helmet, riding into a street without stopping, turning left or swerving into traffic that is coming from behind, running a stop sign, and riding the wrong way in traffic. To maximize your safety, always wear a helmet AND follow the rules of the road.

<h1>Rules of the Road – Bicycling on the Road</h1>

Bicycles in many States are considered vehicles, and cyclists have the same rights and the same responsibilities to follow the rules of the road as motorists. When riding, always:

<h3>Go With the Traffic Flow.</h3>
Ride on the right in the same direction as other vehicles. Go with the flow – not against it.

<h3>Obey All Traffic Laws.</h3>
A bicycle is a vehicle and you’re a driver. When you ride in the street, obey all traffic signs, signals, and lane markings.

<h3>Yield to Traffic When Appropriate.</h3>
Almost always, drivers on a smaller road must yield (wait) for traffic on a major or larger road. If there is no stop sign or traffic signal and you are coming from a smaller roadway (out of a driveway, from a sidewalk, a bike path, etc.), you must slow down and look to see if the way is clear before proceeding. This also means yielding to pedestrians who have already entered a crosswalk.

<h3>Be Predictable.</h3>
Ride in a straight line, not in and out of cars. Signal your moves to others.

<h3>Stay Alert at All Times.</h3>
Use your eyes AND ears. Watch out for potholes, cracks, wet leaves, storm grates, railroad tracks, or anything that could make you lose control of your bike. You need your ears to hear traffic and avoid dangerous situations; don’t wear a headset when you ride.

<h3>Look Before Turning.</h3>
When turning left or right, always look behind you for a break in traffic, then signal before making the turn. Watch for left- or right-turning traffic.

<h3>Watch for Parked Cars.</h3>
Ride far enough out from the curb to avoid the unexpected from parked cars (like doors opening, or cars pulling out).
Sidewalk versus Street Riding

The safest place for bicycle riding is on the street, where bicycles are expected to follow the same rules of the road as motorists and ride in the same direction.

<li>Children less than 10 years old, however, are not mature enough to make the decisions necessary to safely ride in the street.</li>

<li>Children less than 10 years old are better off riding on the sidewalk.</li>

<li>For anyone riding on a sidewalk:</li>
 <br />

Check the law in your State or jurisdiction to make sure sidewalk riding is allowed.

Watch for vehicles coming out of or turning into driveways.

Stop at corners of sidewalks and streets to look for cars and to make sure the drivers see you before crossing.

Enter a street at a corner and not between parked cars. Alert pedestrians that you are near by saying, “Excuse me,” or, “Passing on your left,” or use a bell or horn.
bicycle icon

For more information on bicycle safety, visit the National Highway Traffic Safety Administration (NHTSA) Web site at: www.nhtsa.dot.gov
</p>

