
@{
    ViewBag.Title = "Careers";
}
<h1>@ViewBag.Title</h1>

<p>This is a page in which you will find some opportunities to work in our magnificient company</p>

<h3>Current Position available: </h3>
<ul>
    <li>Stocks Manager</li>
    <li>Advertiser Manager</li>
    <li>Web Designer</li>
    <li>Bike Rider Tester</li>
</ul>  
