
@{
    ViewBag.Title = "Return Policy";
}

<h2>@ViewBag.Title</h2>

<!--The actual image is in Content/Images-->
<img src="~/Content/Images/returnpolicy.png" alt="return photo" />

<h3>Bikes</h3>
<p>All bicycles returned within 365 days with proof of purchase and in "new" condition will receive a full refund. Refund will be made in the tender type originally used. 
    In some cases, the customer may be responsible for the cost of materials and labor to replace parts of the bicycle that show signs of wear and tear 
    (i.e. tires, grips, handlebar tape, saddles, pedals, cranks, wheels, etc.). If the bike shows signs of significant wear and tear or damage due to abuse, incorrect installation or accidents, 
    as determined by Mike's Bikes staff, it will not be accepted for return or refund. Customer is responsible for all return and exchange shipping costs.</p>
<h3>Accessories</h3>
<p>All components, parts, accessories, and apparel will receive a full refund when returned with proof of purchase in new condition within 365 days from the date of purchase. 
    Refund will be made in the tender type originally used. All product packaging, tags and owner's manual must be intact. Mike's Bikes staff will assess the condition of the product 
    and if the product is determined to be used, it will not be accepted for return or refund. Returned nutrition products that have passed their expiration date will not be accepted. 
    Customer is responsible for all return and exchange shipping costs.</p>

