@model IEnumerable<Mikes_Bikes.Models.Bike>

@{
    ViewBag.Title = "Your Past Orders";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.Raw("Bike Name")
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BikeName)
        </td>
       
    </tr>
}

</table>
